body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    cursor: none;
    transition: background 2s ease-in-out;
    touch-action: none; /* Prevents default touch behaviors for smooth scrolling */
}

#galaxyCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}